port {{ openvpn_server_port }}
proto {{ openvpn_server_proto }}
dev {{ openvpn_server_dev }}
ca ca.crt
cert {{ inventory_hostname }}.crt
key {{ inventory_hostname }}.key
dh dh.pem
server {{ openvpn_server_network }}
push "route {{ openvpn_server_network }}"
tls-auth ta.key 0
client-config-dir ccd
crl-verify crl.pem
cipher {{ openvpn_server_cipher }}
auth {{ openvpn_server_auth }}
tls-cipher {{ openvpn_server_tls_cipher }}
{{ openvpn_server_config }}
{{ openvpn_server_more_config }}
